table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Columna del nombre del plato */
  td:first-child {
    width: 40%;
  }
  
  /* Columna del precio */
  td:nth-child(2) {
    width: 20%;
  }
  
  /* Columna de añadir */
  td:nth-child(3) {
    width: 25%;
  }
  
  /* Columna de notas */
  td:nth-child(4) {
    width: 25%;
  }
  
  .dishes-container.add {
    width: 50%;
    margin-top: 1%;
  }
  
  .quantity-container {
    display: flex;
    align-items: center;
  }
  
  .button-add {
    margin-right: 5%;
  }
  
  .button-remove {
    margin-right: 5%;
  }
  
  .staff-select-container {
    display: flex;
    align-items: center;
  }
  
  .staff-select-container p {
    margin-right: 2%;
  }
  
  .selected-staff {
    width: 25%;
    margin-bottom: 2%;
  }
  
  .table-select-container {
    display: flex;
    align-items: center;
  }
  
  .table-select-container p {
    margin-right: 2%;
  }

  .selected-table {
    width: 25%;
    height: 30%;
    margin-bottom: 2%;
  }
  
  .add-order {
    margin-bottom: 2%;
    margin-left: 2%;
  }